{
  "plugins": [
    [ "module-resolver", {
        "alias": {
          "src": "./debug"
          ,"@flexvue":"./debug/flexvue"
          ,"@ckeditor": "./debug/flexvue/plugins/@ckeditor/ckeditor5-editor-classic/src/index.js"

        }
      }
    ]
  ]
}